In [7]:
Name="usman ghani"
print(Name)

usman ghani

In [8]:
Name="python programing"
print(Name)

python programing

In [9]:
a=10
b=3
result=a+b
print(a+b)
weight=65.5 #in kg
milkQuantity=1.7 #in liters
temperature=36.6 #in celici0us
print(weight)
print(milkQuantity)
print(temperature)

13
65.5
1.7
36.6

In [10]:
age = 25
year = 2024
numberofstudents = 50
print (age) 
print (year)
print (numberofstudents)

25
2024
50

In [11]:
def greet_user(name):
    print(f"Hello,{name} Welcome to python.")
greet_user("Ali")

Hello,Ali Welcome to python.

In [12]:
import os

current_directory = os.getcwd()
print("curren working directory:",current_directory)

curren working directory: c:\Users\user\Desktop\python

In [13]:
import math

number = 25
square_root = math.sqrt(number)
print(f"the square root of {number} is:{square_root}")

the square root of 25 is:5.0

In [14]:


#  Create student instnces
student1 = student("Ali", 16,"10th")
student2 = student("sara", 15,"9th")

student1.study()
student2.take_exame()

NameError: name 'student' is not defined

In [ ]:
brand = "Toyata"
model = "Corola"
print(f"The Car is a {brand}{model}.")

The Car is a ToyataCorola.

In [ ]:
class Dog:
    def_init_"("self" name: breed:)
       self".name  = name""
       self".breed = "breed"
    
    def bark(self):
        print(f"{self.name}is barking")
               
    def sit(self):
        print(f"{self.name}is sitting")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2867894020.py, line 2)

In [3]:
amount = int(input("Enter your balance:"))
if amount ==1000:
   print("i will  buy the shirt") 
if amount ==500:    
   print("iwill buy the shoes")
if amount ==200:
   print("i will buy the neckless")
if amount ==0:
   print ("i will buy nothing")

i will buy nothing

  Character is a single letter, digit, or symbol, 
In Python, there is *no separate character data type â€” a character is just a String of length 1.

In [1]:
char1 = 'A'
char2 = '5'
char3 = '#'
print(char1,char2,char3)

A 5 #

2.String
Astring is a collection characters,words,or sentence enclosed in quotes

In [4]:

name = "ghanii"
sentence = "cast dasti"
print(name)
print(sentence)

ghanii
cast dasti

3.Operations on strings
(A)Concentration(joining string)
combining two or more stings using + operaters

In [ ]:
first_name = "Usman"
last_name = "dasti"
full_name = title + " " +
last_name
print(full_name)

(B)Repetion Strings
reperting a string using * operater,

In [ ]:
word = "kha"
print(* 5)

(C)Indexing
Accesing individual charactersin a string (stsrs from index)

In [ ]:
word = "Metalern"
print(word[0])
print(word[3])

(D)Slicing( Getting parts of a string)

Extracting parts of a string 'using start; end index formats

In [ ]:
 text = "openAI Chatbot"
prnt(text[0:5])     # "opea AI"Arit
Print(text[4:6])

(E) Length(find string size)
using len(tp find how many characters)

In [10]:
text = "python"
print(len(text))

6



Arithmetic Operators in Python

Python supports several arithmetic operators to perform basic mathematical operations:

Addition (+)

Subtraction (-)

Multiplication (*)

Division (/)

Floor Division (//)

Modulus (%)

Exponenti0n(**)

1.Addition(+)
Adds two numbers

In [1]:
a = 15
b = 5
result = a + b
print(f"{a} + {b} = {result}")

15 + 5 = 20

2.Subtraction(-)
Subtracts the second number from the first

In [2]:
a = 20
b = 5
result = a-b
print(f"{a} _{b} = {result}")

20 _5 = 15

Multiplication:
Multiple two numbers

In [3]:
a = 7
b = 3
result = a * b
print(f"{a} * {b} ={result}" )

7 * 3 =21

Division:
Divide first number to second.

In [6]:
a = 20
b = 6
result = a /b
print(f"{a} / {b} {result}")

20 / 6 3.3333333333333335

Floor Division:
Divides and return the integer part only

In [4]:
a = 20 
b = 6
result = a // b
print(f"{a} // {b} = {result}")

20 // 6 = 3

Modulous:
Return the reminder of the division

In [5]:
a = 20
b = 6
result = a % b
print(f"{a} % {b} = {result}")

20 % 6 = 2

Exponention:
Raise first number to power of second.

In [6]:
a = 2 
b = 4
result = a ** b
print(f"{a} ** {b} = {result}")

2 ** 4 = 16

Use of integers
Used for countomg, storing quantities,an doing math operations

In [4]:
apples = 10
friends = 2
apples_each = apples // friends
print(apples_each)

5

String:
used t store text, like names,message, 0r user input.
Exaamoie....

In [5]:
name = "Ghani"
message = "Good morning," + name +"!"
print(message)

Good morning,Ghani!

Float:
 Used for measurementand when precision is needed.
 Example........

In [6]:
length = 2.5 #meters
width = 4.0 # meters
area = length * width
print(area)

10.0

ements in Python 

Conditional statements allow your code to make decisions.
"If something is true, do this. Otherwise, do something else."

               Example:

In [2]:
temperature = 35
if temperature > 30:
    print("its a hot day!")

its a hot day!

In [11]:
time = 14
if time > 12:
    print("Good morning")
elif time > 18:
    print("Good afternoon")
else:
    print("Good evening")

Good morning

Used to stop the loop completely when a condition is met:

In [13]:
fruits =["apple","banana","cherry","mangos"]
for fruit in fruits:
    if fruit == "banana":
        continue
    print(fruit)

apple
cherry
mangos